<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joao Victor</title>
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/inddex.css">
  <link rel="stylesheet" href="../static/css/headerFooter.css">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary justifyContentEnd">
      <div class="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Portfólio</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Entrar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <section class="col-md-4">
          <img src="../static/img/pcdam.png" alt="Girl in a jacket" class="tamanhoImg1">
          <div class="cordafonte">
            <h1>João Victor</h1>

            <p>
              Sou estudante de Web Design e apaixonado por criar experiências visuais e interativas na web. Gosto de
              buscar novas formas de aplicar as melhores práticas de design e desenvolvimento.
            </p>
          </div>
        </section>
        <section class="col-6">
          <div class="row col-12 posicao1">
            <h2 class="tit cordafonte">Skills</h2>
            <div class="card col-12 cordefundo mtmb card1">
              <h3 class="tit cordafontebranco">Web Designer</h3>

            </div>
          </div>

          <div class="row col-12 posicao1"> <!-- Início da div-->
            <div class="card col-md-4 cordefundo">
              <img src="../static/img/corellogo.png" alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv2 (2).png" alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv3.png" alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv4.png" alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv6.png" card-img-top alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv7.png" alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv8.png" alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv9.png" alt="..." width="40" height="40">
            </div>

            <div class="card col-md-4 cordefundo">
              <img src="../static/img/jv5.png" alt="..." width="40" height="40">
            </div>

            <DIv class="card col-md-4 cordefundo">
              <img src="../static/img/infomatica 2.png" alt="..." width="50" height="50">

            </DIv>
          </div> <!-- final da div-->

          <div>
            <div>
            </div>
          </div>
      </div>
      </section>
    </div>
  </main>
  <footer>
    <div class="card-footer text-body-primary bg-body-tertiary text-center">
      Desenvolvido por Joao Victor
    </div>
  </footer>
  <script src="../static/js/bootstrap/bootstrap.bundle.min.js"></script>

</body>

</html>